{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Loja</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
	<center>
<header>
	<ul>
		<img src="{% static 'images/python.png' %}" width="30px"/>
	</ul>
</header>
<h2>{{user}} você {{logado}} </h2>
<table>
	<thead>
		<tr>
			<th>Produto</th>
			<th>Preço</th>
		</tr>
	</thead>
	<tbody>
	{% for produto in produtos %}
		<tr>
			<td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
			<td>{{ produto.preco }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<button onclick="teste()">click-me</button>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<footer>Create by Junior Mars</footer>
</center>
</body>
</html>
