{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Produto</title>
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
	<center>
	<h1>Produto</h1>
	<table style="background-color: #abab">
		<thead>
			<tr>
				<th>Produto</th>
				<th>Preço</th>
				<th>Estoque</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="{% url 'index' %}">return</a>
				{{ produto.nome }}</td>
			<td>{{ produto.preco }}</td>
			<td>{{ produto.estoque }}</td>
		</tr>
	</tbody>
	</table>
	</center>
</body>
</html>
